*{
  margin: 0%;
  padding: 0%;
}

.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(128, 71, 31);
   
}

.header-title {
  font-size: 2rem;
  color: #333;
}
body {
 background-color: rgba(170, 130, 111, 0.616);
}


h3 {
  margin-right: 400px;
  padding-left: 10px; 
  font-family:'Courier New', Courier, monospace;
  color: brown;
 }
#Parrafo1, p {
 margin-right: 400px;
 padding-left: 10px; 
 font-family:monospace;
}
#Parrafo2, p {
  margin-right: 400px;
  padding-left: 10px; 
  font-family:monospace;
 }
 #Parrafo3, p {
  margin-right: 400px;
  padding-left: 10px; 
  font-family:monospace;
 }
 #Parrafo4, p {
  margin-right: 400px;
  padding-left: 10px; 
  font-family:monospace;
 }

 #cafeI {
  width: 20%;
  height: 20%;
  margin-left: 90%;

}
 #cafeC {
  width: 25%;
  height: 25%;
  margin-left: 90%;
  
 }
 #cafeB {
  width: 25%;
  height: 25%;
  margin-left: 90%;
  
 }
 #cafeBl {
  width: 25%;
  height: 25%;
  margin-left: 90%;
  
 }
 