#hola{ 
    background-color: rgb(36, 78, 78); 
    margin-right: 77%;
    text-align: center;
    margin-top: -1%;}
#parrafo{
    padding: 30%;
  margin-top: -16%;}

    .grid-container {
      display:grid; 
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(2,50px);
      gap: 10px;   
    }
    .item1 {background-color: aquamarine; border-radius: 50px; height: 30px; width: 30px;}
    .item2 {background-color: blue;}
    .item3 {background-color: rgb(107, 128, 59);}
    .item4 {background-color: rgb(143, 36, 137);}

